@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Bree Serif', serif;
  color: #FFFAED;
  background-color: #28282B;
}

.container{
  width: 960px;
  margin-right:auto;
  margin-left:auto;
  padding-right: 15px;
  padding-left: 15px;
}

.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: #fff;
}

.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: inherit;
}

.coin-text{
  margin-bottom: 32px;
  text-align: center;
}

.coin-input{
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  color: #e2e2e2;
}

.coin-input::placeholder{
  color: #e2e2e2;
}

.source-code {
  color: rgb(233, 233, 233);
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  display: inline-block;
  justify-content: center;
}

.source-code:hover {
  text-decoration: none;
}

.source-code-text {
  margin: 20px 0;
}
